<div id="banner" class="podcasts_banner">
  <h1>Discover your new favorite podcast.</h1>
</div>

  <div id="podcasts" class="cf">
    <div class="wrapper">
      <ul>
        <a href="podcast_show.html">
          <li>
            <img src="images/narwhal.jpg" alt="Narwhals Podcast">
            <div class="podcast_overview">
              <h2>Narwhals</h2>
              <p class="episode_count">12 episodes</p>
            </div>
          </li>
        </a>

        <a href="podcast_show.html">
          <li>
            <img src="images/about.jpg" alt="Narwhals Podcast">
            <div class="podcast_overview">
              <h2>Podcasts about Podcasts</h2>
              <p class="episode_count">8 episodes</p>
            </div>
          </li>
        </a>

        <a href="podcast_show.html">
          <li>
            <img src="images/criminal.jpg" alt="Narwhals Podcast">
            <div class="podcast_overview">
              <h2>Criminal</h2>
              <p class="episode_count">220 episodes</p>
            </div>
          </li>
        </a>

        <a href="podcast_show.html">
          <li>
            <img src="images/science.jpg" alt="Science VS">
            <div class="podcast_overview">
              <h2>Science VS</h2>
              <p class="episode_count">36 episodes</p>
            </div>
          </li>
        </a>

        <a href="podcast_show.html">
          <li>
            <img src="images/mystery.jpg" alt="Mystery Podcast">
            <div class="podcast_overview">
              <h2>Mystery Show</h2>
              <p class="episode_count">121 episodes</p>
            </div>
          </li>
        </a>
        <a href="podcast_show.html">
          <li>
            <img src="images/pirate.jpg" alt="Pirates Podcast">
            <div class="podcast_overview">
              <h2>The Pirates Breakdown</h2>
              <p class="episode_count">17 episodes</p>
            </div>
          </li>
        </a>


      </ul>
    </div>
  </div>

  <div class="pagination">
    <span class="previous_page disabled">Previous
    </span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a href="#" class="next_page">Next</a>

  </div>
